<!-- HEADER -->
<table role="presentation"
    style="width:100%;background-color: #fff;color:black; border-spacing:0;table-layout:fixed;border-collapse:separate">
    <tbody>
        <tr>
            <td dir="ltr" style="padding-top: 24px; padding-bottom: 20px;">
                <table style="margin: 0 auto; width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                <div style="min-width: 150px; display: inline-block;">
                                    <h1><%= company.businessName %></h1>
                                    <p><%= companyAddress %></p>
                                    <p>VAT No. <%= companyConfig.taxCode %></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- END HEADER -->
